h1{
    font-weight:bold;
    text-align:center; 
}
header{
    background-color: rgb(5, 5, 148);
    
}
h2{
    font-weight:bold;
}
h3{
    font-weight: bold;
}
p::first-letter{
    font-size: 2em;
    line-height: 1.5;
    display: block;
}
.NegritaSubrayado{
    font-weight: bold;
    text-decoration:underline; 
}
.Negrita{
    font-weight: bold;
    color:black;
}
.container{
    display: flex;
}
.columna1{
    flex: 1;
    padding: 20px;
    margin:4%;
}
.columna2{
    flex: 1;
    padding: 20px; 
}
#Letraverde{
    color: rgb(85, 139, 2);
}
#Subrayado{
    text-decoration: underline;
}